/* Abstract */

#abstract-card a, #abstract-card div{
    text-decoration: none;
}

#abstract-card {
    margin-left: 43px;
    margin-bottom: 30px;
    width: 1058px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}


.abstract-hidden {
    display: none;
}

#abstract-card div {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #5C5C5C;
    width: 1028px;
    margin: 15px;  
}

#abstract-resume span{
    width: 1028px;
}

