/* aside video buttons */
#paper-info ul{
    margin-top: 0px;
}

ul#paper-buttons {
    width: 217px;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 56px;
    
}
.download-button {
    background-color: #ED7839;
    font-family: 'Roboto, sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 120px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.star-button {
    background-color: #ED7839;
    width: 43px;
    height: 31px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.doi-button {
    background-color: #ED7839;
    width: 43px;
    height: 31px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doi-img {
    background: url('/src/images/doi.png');
    background-size: contain;
    width: 19px;
    height: 19px;
}

#citacao {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    height: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #ED7839;
    text-transform: uppercase;
    margin-top: 5px;
    
}