.discussions {
    position: relative;
    margin-left: 43px;
    width: 1058px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

#discussion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* telas substituidas */
.default-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default-screen-hidden {
    display: none;
}

/* novo tópico */
    .novo-topico-hidden {
        display: none;
    }

    .novo-topico {
    position: relative;
    margin: 0;
    width: 1042px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
    justify-content: flex-start;
}


#discussion-content .novo-topico h1 {
    align-self: center;
    margin: 0 0 22px 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
}

.novo-topico label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
}

.novo-topico input {
    width: 1025.52px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
    padding: 10px 0 11px 22.13px ;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

input#conteudo {
    width: 1025.52px;
    height: 82px;
    border-bottom: none;
    margin-bottom: -15px;
}

#text-design {
    position: relative;
    box-sizing: border-box;
    margin-left: -1px;
    width: 1027.52px;
    height: 31px;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: space-between;
}

#text-design #bold{
    width: 12.36px;
    height: 10px;
    margin: 11px 30.84px 10px 29.3px;
}

#text-design #italic{
    width: 15.42px;
    height: 10px;
    margin: 11px 0 10px 0;
}

#question-submit {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 31px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.discussions .remove-link {
    text-decoration: none;
}

#text-design a{
    text-decoration: none;
}

/* criar novo tópico */
.topico-enviado-hidden {
    display: none;
}

.topico-enviado {
    position: relative;
    margin: 0;
    width: 1042px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#outros-trabalhos {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 137.5%;
    /* identical to box height, or 19px */

    text-align: center;
    text-decoration-line: underline;

    color: #F48F44;
}

#criar-novo-topico {
    width: 235.15px;
    height: 32px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*  fim da substituição de telas */
#discussion-content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
}

#icons {
    width: 422px;
    margin-top: 27px;
    margin-bottom: 35.06px;
    display: flex;
    justify-content: space-evenly;
}

#discussion-content p {
    padding: 0;
    margin: 0 0 14px 0;
    width: 626px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
}

.divisor {
    position: absolute;
    top: 205px;
    border: 1px solid #E7E7E7;
    width: 1027px;
    height: 1px;
}

.divisor-conteudo {
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid #E7E7E7;
    width: 1027px;
    height: 1px;
}

.divisor-enviado {
    position: absolute;
    top: 165px;
    border: 1px solid #E7E7E7;
    width: 1027px;
    height: 1px;
    
}
#criar-topico {
    border: none;
    width: 132px;
    height: 32px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex; 
    align-items: center;   
    justify-content: space-evenly;
    color: #FFFFFF;
    
}

.topico-enviado #create-another-topic {
    text-decoration: none;
    z-index: 10;
}

.default-screen a {
    z-index: 10;
    text-decoration: none;
    margin-bottom: 14px;
}


.questions {
    width: 1028px;
    height: 148px;
    margin-bottom: 17px;
    margin-top: 14px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.questions .question-margins {
    margin-left: 24.7px;
}

.questions {
    width: 1028px;
    height: 148px;
    margin-bottom: 17px;
    margin-top: 14px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shadow-box {
    position: absolute;
    width: 1028px;
    height: 148px;
    background-color: rgba(221, 221, 221, .5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shadow-box #waiting {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
    margin-top: 7.78px;
}

#edit-topic {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #ED7839;
}

.blur {
 filter:blur(2px);
 opacity: 40%;
}

.questions h1 {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.questions h2 {  
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.question-content  {
    width: 981px;
    height: 35px;
    margin-bottom: 11px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

.question-buttons {
    width: 165px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}

.question-buttons button {
    width: 27px;
    height: 19px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.question-answers {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -17px;
}

.question-answers header {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    margin: 18px 0 0 23.19px;
    display: flex;
    justify-content: space-between;
}

#question-answer .question-answers p {
    width: 982px;
    padding: 0;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    text-align: left;
    margin: 10px 0 35px 23.19px
}

.question-hidden {
    display: none;
}

.question-answers .autor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ED7839;
}

.left-align {
    display: flex;
    width: 193.46px;
    justify-content: space-evenly;
}

.autor {

}