/* language button and login */

ul#greetings {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 29px;
}

#greetings p{
    margin: 0;
}

button#language {
    box-sizing: border-box;
    margin: 17px 22px;
    width: 97px;
    height: 34px;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#welcome {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

#email {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

#profile-picture {
    border-radius: 50%;
    width: 30.3px;
    height: 30.63px;
    background-image: url('/src/images/profile-pic.jpg');
    background-size: cover;
    margin-left: 8.85px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#notifications {
    background-color:#F85959;
    border-radius: 10px;
    margin-top: -2px;
    margin-right: -2px;
    height: 12px;
    width: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-align: center;
}