/* sidebar */

#sidebar {
    position: sticky;
    top:0;
    background-color: #ffffff;
    border-left: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 100vh;
    
}

#nav-title {
    background-image: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 68px;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url('/src/images/logo.png');
    width: 220px;
    height: 258px; 
    background-position: 0px -72px;
}

#menu {
    padding: 0;
}

#menu a {
    text-decoration: none;
    color: #725C5C;
    font-family:'Quicksand';
    font-size: 15px;
    font-weight: 500;
    margin-left: 24px;
}

#menu li {
    list-style: none;
    line-height: 33px;
}
.border-wrap {
    border-bottom: 2px solid #E7E7E7; 
}

#menu li:hover {
    background-color: #FDF1EB;
    border-left: solid 5px;
    border-image-source: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    border-image-width: 0 0 0px 5px;
    border-image-slice: 1;
}

.li-active {
    background-color: #FDF1EB;
    border-left: solid 5px;
    border-image-source: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    border-image-width: 0 0 0px 5px;
    border-image-slice: 1;
}
