body {
    margin: 0;
}

/* sidebar */

#sidebar {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border-left: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 100vh;
}

#nav-title {
    background-image: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 68px;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url('/src/images/logo.png');
    width: 220px;
    height: 258px; 
    background-position: 0px -72px;
}

#menu {
    padding: 0;
}

#menu a {
    text-decoration: none;
    color: #725C5C;
    font-family:'Quicksand';
    font-size: 15px;
    font-weight: 500;
    margin-left: 24px;
}

#menu li {
    list-style: none;
    line-height: 33px;
}
.border-wrap {
    border-bottom: 2px solid #E7E7E7; 
}

#menu li:hover {
    background-color: #FDF1EB;
    border-left: solid 5px;
    border-image-source: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    border-image-width: 0 0 0px 5px;
    border-image-slice: 1;
}

/* Cabeçalho */

header.page-title {
    background-color: #FDF1EB;
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    /* height: 68px; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

#info {
    box-sizing: border-box;
    margin-left: 36px;
    font-family: 'Roboto', sans-serif;
}

#info h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

#info h1 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: normal;
}

#info h2 {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
}

/* language button and login */

ul#greetings {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 29px;
}

#greetings p{
    margin: 0;
}

button#language {
    box-sizing: border-box;
    margin: 17px 22px;
    width: 97px;
    height: 34px;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#welcome {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

#email {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

#profile-picture {
    border-radius: 50%;
    width: 30.3px;
    height: 30.63px;
    background-image: url('/src/images/profile-pic.jpg');
    background-size: cover;
    margin-left: 8.85px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#notifications {
    background-color:#F85959;
    border-radius: 10px;
    margin-top: -2px;
    margin-right: -2px;
    height: 12px;
    width: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-align: center;
}

/* content div */
#content {
    margin-left: 220px;
}

/* video section */

section#video-area {
    display: flex;
}
#video-player {
    width: 80%;
}

#video-img {
    background: url("/src/images/video-img.png") ;
   background-position: 25px 25px;
    border-radius: 50%;
}

/* lateral video buttons */

aside#papper-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}