body {
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}

#wrapper {
    background: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
}

#content {
    
    background: #ffffff;
}